html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  background: #fff;
}

#map {
  height: 100%;
  width: 100%;
}

/* bouton recentrage */
#recenterBtn,
#panel {
  z-index: 1000;
}

.leaflet-container {
  z-index: 0;
}
#recenterBtn {
  position: absolute;
  right: 15px;
  bottom: 110px;
  z-index: 1000;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-size: 18px;
}

/* panneau bas */

#panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 -4px 20px rgba(0,0,0,0.08);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#distance {
  font-size: 20px;
  font-weight: 500;
}

#findBtn {
  border: none;
  padding: 14px;
  border-radius: 12px;
  background: #1a73e8;
  color: white;
  font-size: 15px;
}
